# React
codementor-ai-frontend/node_modules/
codementor-ai-frontend/dist/

# Backend
codementor-ai-backend/venv/
codementor-ai-backend/__pycache__/
codementor-ai-backend/instance/
codementor-ai-backend/.env
*.pyc

# VS Code
.vscode/

# Secrets
key.txt
key2.txt